<?php 
	
	require __DIR__.'/vendor/autoload.php';
	use PHPMailer\PHPMailer\PHPMailer;
	use PHPMailer\PHPMailer\SMTP;	

	define('SENDER_EMAIL', "daal@imd.ufrn.br");
	define('SENDER_PASS', "1111");

	$mail = new PHPMailer();

	// Settings
	$mail->IsSMTP();
	$mail->CharSet = 'UTF-8';
	$mail->Host       = "mail.example.com";
	$mail->SMTPDebug  = 0;
	$mail->SMTPAuth   = true;
	$mail->Port       = 25;
	$mail->Username   = SENDER_EMAIL;
	$mail->Password   = SENDER_PASS;

	$mail->isHTML(true);
